.tool{
    text-align: center;
    padding: 20px;
    color: #98979b;            
}
#img-bulb{
    height: 170px;
    display: block;
    margin: 15px auto;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn-toggle{
    margin: 20px 30px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    border:1px solid goldenrod;
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);

}

.theme-icon{
    height: 30px;
    cursor: pointer;
}

.theme-selector-conatiner{
    position: fixed;
    right: 10px;
    top: 5px;
}
.theme-dark{
    background-color: rgb(88, 85, 85);
    color: white;
}
.theme-light{
    background-color:#e6e6ff;
    color: black;
}

.btn-light{
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    color:black;
    border: 1px solid black;
}

.btn-dark{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    color:white;
    border: 1px solid black;
}